@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Control de Accesos";
}

<header>
    <div class="container">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">No tiene permisos para acceder a este módulo. Solicitelo al Área de Sistemas.</p>
    </div>
   
</header>
